@using Perficient.Web.Features.Blocks.Components.FlipCard

@model FlipCardBlock
@{
    var backBackground = "";
    var frontBackground = "";

    if (Model.FrontBackgroundImage != null)
    {
        frontBackground = "background-image: url('" + @Url.ContentUrl(Model.FrontBackgroundImage) + "')";
    }
    else if(Model.FrontSolidColor != null){
        frontBackground = "background-color:"+@Model.FrontSolidColor+"";
    }
    if (Model.BackBackgroundImage != null)
    {
        backBackground = "background-image: url('" + @Url.ContentUrl(Model.BackBackgroundImage) + "')";
    }
    else if (Model.BackSolidColor != null)
    {
        backBackground = "background-color:" + @Model.BackSolidColor + "";
    }
}

<div class="wrapper flipcard">
	<div class="card">
		<input type="checkbox" id="card1" class="more @Model.FlipDirection" aria-hidden="true">
        
		<div class="content">
            <div class="front" style="@frontBackground">
				<div class="inner">
                    <img src="@Url.ContentUrl(Model.FrontSmallImage)" class="front-small-image"/>
                    <img src="@Url.ContentUrl(Model.FrontMaskedImage)" class="front-mask-image" />
					<h2>@Html.PropertyFor(x => x.Title)</h2>
					<div>@Html.PropertyFor(x => x.Description)</div>
					<label for="card1" class="view-details" aria-hidden="true">
						@Html.PropertyFor(x => x.CallToActionLabel)
					</label>
				</div>
			</div>
            <div class="back @Model.FlipDirection" style="@backBackground">
				<div class="inner">
                    <img src="@Url.ContentUrl(Model.BackSmallImage)" class="back-small-image" />
                    <img src="@Url.ContentUrl(Model.BackMaskedImage)" class="back-mask-image" />
                    <label for="card1" class="backlable" aria-hidden="true">
                    </label>
                    <div class="info">
                        @Html.PropertyFor(x => x.Text)
                    </div>
                    <div class="view-more">
                        @Html.PropertyFor(x => x.CallToActionButton)
                    </div>
				</div>
                
			</div>
            
		</div>
	</div>	
</div>


